.btn-transparent {
    background-color: transparent;
    border: 1px solid #fff; /* Optional: Add a border for better visibility */
    /*color: #fff; !* Set text color to white or your desired color *!*/
    color: red;
    margin-left: -20%;
    z-index: 100;
}

.left-shift {
    margin-right: -92%;
    margin-top: -5%;
    color: red;
    z-index: -10000;

}